html,
body,
.rootLayout {
  box-sizing: border-box;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
}

.isDark {
  background-color: black;
  color: white;
  stroke: white;
}

.isLight {
  stroke: black;
}

.app {
  text-align: center;
}

button {
  margin: 5px;
}
button:focus {
  outline: none !important;
  outline-offset: none !important;
}

.keyboard {
  width: 50%;
  margin: 0 auto;
}

/* .game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
} */

.figure-container {
  fill: transparent;
  stroke-width: 4px;
  stroke-linecap: round;
}

@media (max-width: 800px) {
  .keyboard {
    width: 100%;
    margin: auto;
  }
}
